<header class='main-header'>
  <div class='black'></div>

  <nav class='navbar navbar-default'>
    <div class='container'>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='#'>
          <i class='fa fa-anchor'></i>
          Ian Renfro
        </a>
      </div>

      <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <ul class='nav navbar-nav navbar-right'>
          <li><a href='/'>Home</a></li>
          <li><a id='nav-about' href='#'>About</a></li>
          {{#if posts}}
            <li><a id='nav-writing' href='#'>Writing</a></li>
          {{/if}}
          <li><a id='nav-contact' href='#'>Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class='header-text'>
    <h1 class='header-title'>Hi, I'm Ian Renfro.</h1>
    <h2 class='header-subtitle'>I am a frehsman in CS at Purdue</h2>
  </div>
</header>

<main>
  <section id='about-section'>
    <div class='container'>
      <h2 class='section-title'>About Me</h2>
      <div class='row about-wrapper'>
        <div class='col-xs-12 col-sm-3'>
          <img src='/assets/img/headshot.jpg' alt='rick-headshot' class='img-circle headshot' />
        </div>
        <div class='col-xs-12 col-sm-9'>
          <p class='section-content'>
            Hey there, I'm Ian Renfro. I am a freshman in CS at Purdue
          </p>
          <p class='section-content'>
            I do most of my work on my laptop.
          </p>
        </div>
      </div>
    </div>
  </section>

  {{#if posts}}
  <section id='writing-section'>
    <div class='container'>
      <h2 class='section-title'>My Writing</h2>
      <div class='section-content'>
        {{#each posts}}
          <div class='post-preview'>
            <h3 class='post-preview-title'>{{ title }}</h3>
            {{{ ellipsize body }}}
            <br />
            <a href='/{{ url }}'>Read more &raquo;</a>
          </div>
        {{/each}}
      </div>
    </div>
  </section>
  {{/if}}

  <section id='contact-section'>
    <div class='container'>
        <form>
      <h2 class='section-title'>Contact Me</h2>
          <div class='row'>
            <div class='col-xs-12 col-sm-6'>
              <input type='text' label='Name' class='form-control contact-input' name='first' placeholder='First Name *'>
            </div>
            <div class='col-xs-12 col-sm-6'>
              <input type='text' label='Name' class='form-control contact-input' name='last' placeholder='Last Name *'>
            </div>
          </div>
          <input type='text' class='form-control contact-input' name='subject' placeholder='Subject *'>
          <textarea class='form-control contact-input message' name='message' placeholder='Your Message *'></textarea>
          <input class='btn btn-default contact-submit' type='submit' value='Submit'>
        </form>
      </div>
    </div>
  </section>
</main>


